<div class="grid">
  <div class="row main-jumbo">
    <div class="col-md-6 main-text" style="padding-top:50px">
    	<%= image_tag 'hero-logo.png', :class => 'center-block' %>

      <button type="button" class="btn btn-warning center-block learn-button" style="padding: 15px 20px;font-size:1.5em">How it Works</button>
      <h3 class="text-center">Call us today: (314)-3100-BED</h3>
    </div>

    <div class="col-md-6 main-image">

    </div>
  </div>

  <div class="row service-overview">
    <div class="col-md-4">
      <h1 class="text-center">Something Amazing</h1>
    </div>

    <div class="col-md-4">
      <h1 class="text-center">Something Else Amazing</h1>
    </div>

    <div class="col-md-4 ">
      <h1 class="text-center">Even Amazing</h1>
    </div>
  </div>


</div>