
@import "bootstrap"



a.navbar-brand
  padding: 5px 5px

div.main-jumbo
  height: 350px
  background: #d8d8d8

div.main-image
  background-image: url(/assets/cooperation-3.jpg)
  height: 100%
  width: 866px
  background-position: center

  