
@import "bootstrap"



a.navbar-brand
  padding: 5px 5px
<<<<<<< HEAD

div.main-jumbo
  height: 350px
  background: #d8d8d8

div.main-image
  background-image: url(/assets/cooperation-3.jpg)
  height: 100%
  width: 866px
  background-position: center

=======
.grade
  font-size: 1.8em
  font-weight: bold
>>>>>>> 7ac79d374266bef447d66558298d08dd5ec0817b
  