header {
  width: 100%;
  background-color: black;
}

a.navbar-brand  {
  padding: 5px 5px,
}

/*header a {
  color: #DDDDDD;
  text-decoration: none;
}
header h1, header nav {
  display: inline-block;
  padding-left: 20px;
  background-color: white;
  background-color: white;

}
header nav {
  float: right;
  background-color: white;

}
header nav ul li {
  display: inline-block;
}*/
